name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: cmock
      run: git clone https://github.com/omerdagan84/cmoka.git .cmocka && cd .cmocka && mkdir build && cd build && cmake .. && sudo make install
    - name: check
      run: mkdir build && cd build && cmake .. && make check
